.floof_tile {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 25px;
  border: 1px solid black;
  padding: 5px;
}

.floof_cat_tile {
  margin: 10px auto 10px auto;
  border: 1px solid black;
  float: center;
  width: 80%;
}

header {
  height: 40px;
  color: white;
  background-color: #0081B1;
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;

}
