/* show details */

#show {
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 10px 10px;
  max-width: 500px;
  background-color: #87CEFA;
}

/* text */

#show h2 {
  color: white;
  font-size: 40px;
  text-decoration: underline;
  margin-left: 10px;
}

#show p {
  font-size: 25px;
  background-color: white;
  padding: 10px 10px;
  margin: 0 auto;
}
