
/* show image */

#show img {
  height: 300px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#show img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 1.0;
  filter: alpha(opacity=100);
}

/* index image */

.floof_cat_tile img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 300px;
  width: 300px;
}



.floof_cat_tile img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 1.0;
  filter: alpha(opacity=100);
}
