body {
  font-family: 'Roboto', sans-serif;
}

/* headers */

h1 {
  font-family: 'Rammetto One', cursive;
  padding-top: 30px;
}

h1 a {
  font-size: 70px;

}

#subheader {
  color: white;
  display: inline;
}

h1 span {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}


/* navigation */

.top-bar {
  background-color: #87CEFA;
  height: 100px;
}

.top-bar-section .has-dropdown a {
  font-size: 20px;
  border: solid 0.5px;
}



/* intro */

.intro {
  background-color: #F2F2F2;
  padding: 20px 20px;
}

.intro p {
  padding-left: 50px;
  font-size: 20px;
  text-shadow: white 0px 0px 10px;
}


/* category tile */


.floof_cat_tile {
  margin: 20px auto 20px auto;
  /* border: 1px solid black; */
  border-radius: 10px;
  float: center;
  width: 90%;
  background-color: #87CEFA;
}

.floof_cat_tile header {
    height: 40px;
    text-align: left;
    color: white;
    font-size: 30px;
    padding: 10px 10px;
}

.floof_cat_tile p {
  font-size: 25px;
  color: black;
}


/* floof tile */

.floof_tile {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin: 25px;
  border: 1px solid black;
  background-color: white;
  padding: 5px;
}

/* footer */


footer {
  background-color: #F2F2F2;
  text-align: center;
  padding: 20px 20px;
}
