
/* main review div and text */

.reviews {
  background-color: #F0F8FF;
  padding-left: 50px;
  margin-bottom: 10px;
}

.reviews p {
  font-size: 25px;
  color: teal;
}

#rating {
  font-size: 50px;
  display: inline-block;
  color: black;
  font-style: italic;
}


h2 {
  color: #87CEFA;
  font-size: 40px;
  text-decoration: underline;
  margin-left: 10px;
  margin-top: 50px;
  padding-left: 50px;
}


/* review forms */

#review-form h2 {
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font-family: 'Roboto', sans-serif;
  color: white;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);

}

#review-form {
  background-color: #87CEFA;
  padding: 20px 20px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 50px;
  max-width: 600px;
  margin-bottom: 20px;

}

#review-form select {
  font-size: 25px;
  height: 50px;
  width: 500px;
}

#review-form label {
  font-size: 18px;
  color: black;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  display: block;
}



/* inputs */

input[type="text"] {
  width: 500px;
}


#review-form button {
  font-size: 20px;
  background-color: white;
  color: teal;
  border-radius: 10px;
  margin-left: 15px;
  font-weight: bold;
  margin-top: 10px;
}

#delete {
  font-size: 20px;
  background-color: teal;
  color: white;
  border-radius: 10px;
  margin-left: 15px;
  font-weight: bold;
  margin-top: 10px;
}

#edit {
  font-size: 20px;
  background-color: teal;
  color: white;
  border-radius: 10px;
  margin-left: 15px;
  font-weight: bold;
  margin-top: 10px;
}

#delete:hover {
  color: teal;
  background-color: white;
}

#edit:hover {
  color: teal;
  background-color: white;
}




#review-form button:hover {
  color: white;
  background-color: teal;
}
